<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Subscription Page</title>
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/subscription.css")">
</head>
<body>
	<div id="title">Zyskaj dostęp do treści premium !</div>
	<div id="subtitle">Wybierz swoją subskrypcję</div>
	
	<section class="mainContainer">
		<section class="container1mSub">
			<div id="title2">1 miesiąc</div>
			<div id="price">9,99zł</div>		
			<img src="http://gdurl.com/Yeli" alt="Logo image"  width="240" height="50"> 
			
			
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="H3TWXGK98FKC4">
				<table align="center">
				<tr><td><input type="hidden" name="on0" value="Twój nick:">Twój nick:</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
				</table>
				<input type="image" src="https://www.sandbox.paypal.com/pl_PL/PL/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – Płać wygodnie i bezpiecznie">
				<img alt="" border="0" src="https://www.sandbox.paypal.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
			</form>


		</section>
		<section class="container3mSub">
			<div id="title2">3 miesiące</div>
			<div id="price">19,99zł</div>
			<img src="http://gdurl.com/Yeli" alt="Logo image" width="240" height="50">
			
			
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="NVNGTCU6V7D5Q">
				<table align="center">
				<tr><td><input type="hidden" name="on0" value="Twój nick:">Twój nick:</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
				</table>
				<input type="image" src="https://www.sandbox.paypal.com/pl_PL/PL/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – Płać wygodnie i bezpiecznie">
				<img alt="" border="0" src="https://www.sandbox.paypal.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
			</form>


		</section>
		<section class="container6mSub">
			<div id="title2">6 miesięcy</div>
			<div id="price">39,99zł</div>
			<img src="http://gdurl.com/Yeli" alt="Logo image" width="240" height="50"> 
			
			
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="KQVS4SK6UM5KL">
				<table align="center">
				<tr><td><input type="hidden" name="on0" value="Twój nick:">Twój nick:</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
				</table>
				<input type="image" src="https://www.sandbox.paypal.com/pl_PL/PL/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – Płać wygodnie i bezpiecznie">
				<img alt="" border="0" src="https://www.sandbox.paypal.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
			</form>


		</section>
	</section>	
</body>
</html>

