<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Subscription Page</title>
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/subscription.css")">
</head>
<body>
	<div id="title">Zyskaj dostęp do treści premium !</div>
	<div id="subtitle">Wybierz swoją subskrypcję</div>
	
	<section class="mainContainer">
		<section class="container1mSub">
			<div id="title2">1 miesiąc</div>
			<div id="price">9,99zł</div>		
			<img src="logo.png" alt="Logo image"  width="120" height="25"> 
			
			<form method="post" action="https://secure.payu.com/api/v2_1/orders">
			<input type="hidden" name="continueUrl" value="http://shop.url/continue">
			<input type="hidden" name="currencyCode" value="PLN">
			<input type="hidden" name="customerIp" value="123.123.123.123">
			<input type="hidden" name="description" value="Order description">
			<input type="hidden" name="merchantPosId" value="145227">
			<input type="hidden" name="notifyUrl" value="http://shop.url/notify">
			<input type="hidden" name="products[0].name" value="Product 1">
			<input type="hidden" name="products[0].quantity" value="1">
			<input type="hidden" name="products[0].unitPrice" value="1000">
			<input type="hidden" name="totalAmount" value="1000">
			<input type="hidden" name="OpenPayu-Signature" value="sender=145227;algorithm=SHA-256;signature=bc94a8026d6032b5e216be112a5fb7544e66e23e68d44b4283ff495bdb3983a8">
			<button type="submit" formtarget="_blank" ></button>
			</form >
		</section>
		<section class="container3mSub">
			<div id="title2">3 miesiące</div>
			<div id="price">19,99zł</div>
			<img src="logo.png" alt="Logo image" width="120" height="25">
			
			<form method="post" action="https://secure.payu.com/api/v2_1/orders">
			<input type="hidden" name="continueUrl" value="http://shop.url/continue">
			<input type="hidden" name="currencyCode" value="PLN">
			<input type="hidden" name="customerIp" value="123.123.123.123">
			<input type="hidden" name="description" value="Order description">
			<input type="hidden" name="merchantPosId" value="145227">
			<input type="hidden" name="notifyUrl" value="http://shop.url/notify">
			<input type="hidden" name="products[0].name" value="Product 1">
			<input type="hidden" name="products[0].quantity" value="1">
			<input type="hidden" name="products[0].unitPrice" value="1000">
			<input type="hidden" name="totalAmount" value="1000">
			<input type="hidden" name="OpenPayu-Signature" value="sender=145227;algorithm=SHA-256;signature=bc94a8026d6032b5e216be112a5fb7544e66e23e68d44b4283ff495bdb3983a8">
			<button type="submit" formtarget="_blank" ></button>
			</form >
		</section>
		<section class="container6mSub">
			<div id="title2">6 miesięcy</div>
			<div id="price">39,99zł</div>
			<img src="logo.png" alt="Logo image" width="120" height="25"> 
			
			<form method="post" action="https://secure.payu.com/api/v2_1/orders">
			<input type="hidden" name="continueUrl" value="http://shop.url/continue">
			<input type="hidden" name="currencyCode" value="PLN">
			<input type="hidden" name="customerIp" value="123.123.123.123">
			<input type="hidden" name="description" value="Order description">
			<input type="hidden" name="merchantPosId" value="145227">
			<input type="hidden" name="notifyUrl" value="http://shop.url/notify">
			<input type="hidden" name="products[0].name" value="Product 1">
			<input type="hidden" name="products[0].quantity" value="1">
			<input type="hidden" name="products[0].unitPrice" value="1000">
			<input type="hidden" name="totalAmount" value="1000">
			<input type="hidden" name="OpenPayu-Signature" value="sender=145227;algorithm=SHA-256;signature=bc94a8026d6032b5e216be112a5fb7544e66e23e68d44b4283ff495bdb3983a8">
			<button type="submit" formtarget="_blank" ></button>
			</form >
		</section>
	</section>	
</body>
</html>

