canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 150vh;
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
  #particles-js{
    height: 100vh;
  }
}