<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Moje konto</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: verdana;
            font-size: 13px;
            color: #404040;
            background-color: Ro;
            padding-top: 50px;
            padding-bottom: 20px;
        }

        #kontener {
            width: 999px;
            margin: 0 auto;
        }

        /*********** NAWIGACJA ***********/

        nav ul {
            list-style-type: none;
        }

        nav li {
            display: inline-block;
        }

        nav a {
            display: block;
            font-size: 10px;
            text-decoration: none;
            padding: 5px;
            width: 232px;
        }



            nav a.link2 {
                border: 2px solid #404040;
                border-radius: 5px;
                color: #404040;
                background-color: #DCDCDC;
            }

                nav a.link2:hover {
                    background-color: #404040;
                    color: white;
                }



        /*********** ŚRODEK ***********/

        #srodek {
            border: 3px solid #404040;
            border-radius: 5px;
            background-color: #BEBEBE;
            padding: 10px;
            margin-top: 5px;
            overflow: auto;
        }

            #srodek p {
                padding: 5px;
                margin-bottom: 5px;
                text-align: justify;
            }

            #srodek article {
                float: left;
                width: 100%;
                background-color: #DCDCDC;
                border-radius: 5px;
                padding: 10px;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            /*********** PASEK BOCZNY ***********/


            /*********** STOPKA ***********/

            #srodek footer {
                clear: both;
                background-color: #DCDCDC;
                padding: 5px;
                border-radius: 5px;
                text-align: center;
            }
    </style>
    <script type="text/javascript">






    </script>

</head>
<body>
    <section id="kontener">
        <nav>
            <ul>
                <li><a href="#" class="link2">Powrót do głównej strony</a></li>
                <li><a href="#" class="link2">Zmień dane</a></li>
                <li><a href="#" class="link2">Moje prenumeraty</a></li>
                <li><a href=# class="link2">Moje komentarze</a></li>
            </ul>
        </nav>

        <section id="srodek">
            <article id="tekst" style="font-size: 19px;">
                <div align="center">
                    <table>
                        <tbody>
                            <tr>
                                <th colspan="3" align="left">Moje dane</th>
                            </tr>
                            <tr>
                                <td>
                                    Imie
                                </td>
                                <td>&nbsp</td>
                                <td>
                                    Ilona
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nazwisko
                                </td>
                                <td>&nbsp</td>
                                <td>
                                    Basovska
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    e-mail
                                </td>
                                <td>&nbsp</td>
                                <td>
                                    ilonabasovska@gmail.com
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    Karta płanicza
                                </td>
                                <td>&nbsp</td>
                                <td>
                                    1234567890123456
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </article>


        </section>
    </section>
</body>
</html>