.articleTitle {

    display: block;
    text-align: justify;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.articlePicture{
    display:block;
    width:90%;
    margin:auto;
    height:360px;
    margin-top:30px;
    background-size:cover;
}

.leadParagraph {
    display: block;
    width: 95%;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.articleContent{
    display:block;
    width:90%;
    margin:auto;
    margin-top:35px;
    font-size:medium;
    text-align:justify;
    font-size:18px;
    font-weight:500;
}
.articleContent p{
    margin-top:23px;
}
.article-div {
    background-image: linear-gradient(to right bottom, #ffffff, #f7f7f7, #efefef, #e8e8e8, #e0e0e0);
}
