
body {
	font: 15px 'Lucida Grande', Tahoma, Verdana, sans-serif;
	background-image: url("https://i.ytimg.com/vi/yGEOXfRfLAo/maxresdefault.jpg");
	background-size:cover;
}

.containerLogin {
	margin: 35px auto;
	width: 300px;
	height: 570px;
	background: transparent;
	align-content: center;
	flex-wrap: wrap;
	text-align:center;
	align-items: center;
	justify-content: center;
	border-radius: 15px 15px 15px 15px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
}
#loginTitle {
	font: 32px 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-weight:bold;
	color: #000000;
	margin: 20px auto;
}

input[type="text"]
{ 
	margin: 8px;
	font-size: 20px;
    text-decoration: underline;  
    background: transparent;
    border: none;
}

input[type="password"]
{ 
	margin: 8px ;
	margin-bottom: 12px;
	font-size: 20px;
    text-decoration: underline;  
    background: transparent;
    border: none;
    color:black;
}

input[type="date"]
{ 	
	width:150px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight:bold;
	text-decoration: underline;  
	background: transparent;
	color:black;
	border-radius: 15px 15px 15px 15px;
	border-color:black;
	border-width:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
}

label
{
	padding-top: 5px;
	padding-left: 8px;
	padding-right: 7px;
	float:left;
	font-size:15px;
    color:black;
    
}

input[type=submit]
{
	font-family: serif;
	width:240px;
    height:40px;
	margin-top: 40px;
    margin-bottom:5px;
	font-size:20px;
	color:white;
    background-color:black;
    border-color:black;
	border-radius: 10px 10px 10px 10px;
}


.submitBtn{
	margin: 10px 30px 21px;
}

a{
	color:black;
    font-size:18px;
    font-weight:bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

