
body {
	background-image: url("descriptionPageBack.jpg");
	background-size:cover;
}

#title{
	margin-top: 40px;
	font: 26px 'Lucida Grande', Tahoma, Verdana, sans-serif;
	color:white;
	text-align:center;
}

#subtitle{
	margin-top: 5px;
	font: 15px 'Lucida Grande', Tahoma, Verdana, sans-serif;
	color:white;
	text-align:center;
}

#title2{
	padding-top: 20px;
	margin-bottom: 10px;
	font: 24px 'Lucida Sans Unicode';
	color:black;
	text-align:center;
}
#price{
	margin-bottom:20px;
}

.mainContainer{
	
	margin-top: 25px;
	background:transparent;
	width: 900px;
	height: 300px;
	flex-wrap: wrap;
	text-align:center;
	align-items: center;
	justify-content: center;


}
.container1mSub{
	background:white;
	margin-top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right:10px;
    width: 150px;
	height: 200px;
	display:inline-block;
	border-radius: 25px 25px 25px 25px;
	border-color:black;
	
}

.container3mSub{
	background:white;
	margin-top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right:10px;
    width: 150px;
	height: 200px;
	display:inline-block;
	border-radius: 25px 25px 25px 25px;
	border-color:black;
}

.container6mSub{

	background:white;
	margin-top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right:10px;
    width: 150px;
	height: 200px;
	display:inline-block;
	border-radius: 25px 25px 25px 25px;
	border-color:black;
}
button[type=submit] {
	margin-top: 30px;
    border: 0px;
    height: 25px;
    width: 110px;
    background: url('http://static.payu.com/pl/standard/partners/buttons/payu_account_button_long_03.png');
    background-repeat: no-repeat;
    background-size:contain;
    cursor: pointer;
}
